.hovedside-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  	background: linear-gradient(180deg, #113785 35%, #103581 98%, #fff);
  	width: 1440px;
  	height: 558px;
}
.hovedside-item {
  	position: absolute;
  	top: 586px;
  	left: 68px;
  	border-radius: 50%;
  	background-color: #113785;
  	width: 386px;
  	height: 2px;
}
.group-child {
  	position: absolute;
  	top: -3px;
  	left: -3px;
  	background-color: rgba(217, 217, 217, 0);
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 42px;
  	height: 53.2px;
}
.group-item {
  	position: absolute;
  	top: -3px;
  	left: 43px;
  	background-color: rgba(217, 217, 217, 0);
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 52px;
  	height: 53.2px;
}
.group-inner {
  	position: absolute;
  	top: -3px;
  	left: 99px;
  	background-color: rgba(217, 217, 217, 0);
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 52px;
  	height: 53.2px;
}
.rectangle-div {
  	position: absolute;
  	top: -3px;
  	left: 155px;
  	background-color: rgba(217, 217, 217, 0);
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 46px;
  	height: 53.2px;
}
.kpmg {
  	position: absolute;
  	top: 16.03px;
  	left: 0px;
  	display: inline-block;
  	font-weight: 700;
  	width: 187px;
  	height: 41px;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-parent {
  	position: absolute;
  	top: 46px;
  	left: 48px;
  	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25) inset);
  	width: 198px;
  	height: 57px;
  	font-size: 60px;
}
.hovedside-inner {
  	position: absolute;
  	top: 598px;
  	left: 1060px;
  	border-radius: 360px;
  	width: 356px;
  	height: 393px;
  	overflow: hidden;
  	object-fit: cover;
}
.image-16-icon {
  	position: absolute;
  	top: 0px;
  	left: 619px;
  	width: 821px;
  	height: 558px;
  	object-fit: cover;
  	mix-blend-mode: linear-burn;
	opacity: 0.05;
}
.hjem {
  	position: absolute;
  	top: 40px;
  	left: 515px;
  	font-weight: 800;
}
.tjenester {
  	position: absolute;
  	top: 41px;
  	left: 628px;
  	font-weight: 800;
  	white-space: pre-wrap;
}
.kontakt {
  	position: absolute;
  	top: 41px;
  	left: 782px;
  	font-weight: 800;
}
.image-12-icon {
  	position: absolute;
  	top: 30px;
  	left: 1340px;
  	width: 35px;
  	height: 35px;
  	object-fit: cover;
}
.image-13-icon {
  	position: absolute;
  	top: 946px;
  	left: 44px;
  	width: 52px;
  	height: 50px;
  	object-fit: cover;
}
.image-14-icon {
  	position: absolute;
  	top: 946px;
  	left: 96px;
  	width: 52px;
  	height: 48px;
  	object-fit: cover;
}
.image-15-icon {
  	position: absolute;
  	top: 946px;
  	left: 153px;
  	width: 50px;
  	height: 50px;
  	object-fit: cover;
}
.om-oss {
  	position: absolute;
  	top: 41px;
  	left: 915px;
  	font-weight: 800;
}
.start {
	color: #113785;
	text-decoration: none;
	font-family: 'Inter' , sans-serif;
    position: absolute;
    top: 30px;
    left: 85px;
    font-weight: 850;
    font-style: italic;
	visibility: visible;
}




.start-wrapper {
  	position: absolute;
  	top: 19px;
  	left: 23px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
  	border-radius: 90px;
  	background-color: #fff;
  	border: 1px solid #fff;
  	box-sizing: border-box;
  	width: 304px;
  	height: 114px;
  	overflow: hidden;
}
.frame-div {
  	position: absolute;
  	top: 814px;
  	left: 596px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 90px;
  	background-color: #113785;
  	width: 348px;
  	height: 152px;
  	overflow: hidden;
  	font-size: 36px;
  	color: #113785;
}
.image-17-icon {
  	position: absolute;
  	top: 35px;
  	left: 1174px;
  	width: 30px;
  	height: 30px;
  	object-fit: cover;
}
.sk {
  	position: absolute;
  	top: 10px;
  	left: 26px;
  	font-weight: 200;
}
.sk-wrapper {
  	position: absolute;
  	top: 32px;
  	left: 1220px;
  	border-radius: 40px;
  	background-color: #fff;
  	width: 96px;
  	height: 32px;
  	overflow: hidden;
  	font-size: 12px;
  	color: #000;
}
.hos-kpmg-forplikter {
  	margin: 0;
}
.start-din-reise {
  	margin: 0;
  	color: #2153b4;
}
.hos-kpmg-forplikter-container {
	font-weight: 600;
  	position: absolute;
  	top: 598px;
  	left: 74px;
  	font-size: 20px;
  	display: inline-block;
  	width: 392px;
  	height: 334px;
  	color: #000;
}
.velkommen-til-kpmg {
  	position: absolute;
  	top: 394px;
  	left: 74px;
  	font-size: 45px;
  	display: inline-block;
  	width: 1304px;
  	height: 130px;
}
.hovedside {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1024px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}

